---
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input.svelte";
---

<Layout title="Heartbeat" description="A blazingly fast substance, compound and nutrient search app">
	<h1 class="text-4xl font-black text-white">Heartbeat</h1>
	<p class="text-white">Search for substances, compounds and nutrients at light speed</p>
	<Input placeholder="Start typing to search"/>
</Layout>
